    @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');   

    html {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family: Bebas Neue, sans-serif; */
        background: rgb(37, 37, 37)
    }

   